.nav-links {
  display: flex;
  gap: 10px;
  font-size: 22px;
  margin-left: auto;
  background-color: goldenrod;
  align-items: center;
  justify-content: center;
}
.nav-text{
  font-size:70px;
}

.nav-logo img {
  width: 150px;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: blue;
  padding: 50px;
  color: white;
  flex-wrap: wrap;
}

.hero-image img {
  width: 400px;
  height: 400px;
  margin-left: 40px;
  border: solid yellowgreen;
  border-radius: 30px;
  padding: 40px;
}

.hero-text h1{
  font-size: 40px;
}
.hero-text p{
  font-size: 30px;
}

.Aboutus {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  gap:50px;
  background-color: purple;
  padding: 50px;
  color: white;
  /* flex-wrap: wrap; */
}
.Aboutus-image img{
  width: 100%;
  object-fit: cover;
  margin-left: auto;
  border: solid green;
  padding: 20px;
  border-radius: 30px;
}

.Aboutus-text{
  width: 100%;
}

.Aboutus-text h2{
  font-size: 60px;
}

.Aboutus-text p{
  font-size: 48px;
}

.Ourservices {
  display: flex;
  align-content: center;
  justify-content: center;
  object-fit: cover;
  gap:40px;
  background-color:green;
  border-radius: 20px;
  padding: 10px;
  color: white;
 
}

.Ourservices-image img {
  width: 100%;
  object-fit: cover;
  margin-left: auto ;
  border: solid red;
  padding: 10px;
  border-radius: 30px;
  
  
}

.Ourservices-text {
  width: 100%;
}



.Ourservices-text h1{
  font-size:60px ;
}

.Ourservices-text p{
  font-size: 30px;
}

.Ourservices-text p{
  font-size: 30px;
}

.Contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: navy;
  padding: 20px;
  border-radius: 20px;
  color: white;
  margin-left: 20px;
}

.Contacts-image img{
  width: 100%;
  object-fit: cover;
  margin-left: auto;
  border:solid gold;
  padding: 10px;
  border-radius: 10px;
}

.Contacts-text{
  width: 100%;
}

.Contacts-text h1{
  font-size: 60px;
}

.Contacts-text p{
  font-size: 40px;
}

.Contacts-text p{
 font-size: 40px;
 }

 .Contacts-text p{
  font-size: 40px;
 }

  .Ourservices{
    display: flex;
    align-items: center;
    justify-content: center;
    gap :40px;
    background-color:green;
    padding: 40px;
    border-radius: 30px;
    margin-left: 20px;
  } 

  .Ourservices-image img{
  width: 100%;
  margin-left:  auto;
  border-radius: 40px;
  border: solid red;
  object-fit: cover; 
  }

  .Ourservices-text{
    width: 100% ;
  }

  .Ourservices-text h1{
    font-size: 50px;
  }

  .Ourservices-text p{
    font-size: 30px;
  }
  .Ourservices-textp{
    font-size: 30px;
  }
  .Ourservices-text p{
    font-size: 30px;
  }
  .Ourservices-text p{
    font-size: 30px;
 }
 .Ourservices-text p{
  font-size: 30px;
 }
 .Ourservices-text p{
  font-size: 30px;
 }
 .Ourservices-text p{
  font-size: 30px;
 }
 .Ourservices-text p{
  font-size: 30px;
 }

 .quicklinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:40px;
  padding: 40px;
  margin-left: 20px;
  border-radius: 30px;
 }

 .quicklinks-image img{
  width: 100%;
  margin-left:  auto;
  border-radius: 20px;
  border: solid red;
  padding: 10px;
  object-fit: cover;
}

 .quicklinks-text{
  width: 100%;
  }

  .quicklinks-text h1{
    font-size: 60px;
  }

  .quicklinks-text p{
    font-size: 40px;
  }
  .quicklinks-text p{
font-size: 40px;
  }
.quicklinks-text p{
  font-size: 40px;
}
.quicklinks-text p{
  font-size: 40px;
}
