.nav-links {
  display: flex;
  gap: 20px;
  font-size: 22px;
  margin-left: auto;
  background-color: goldenrod;
  align-items: center;
  justify-content: center;
}

.nav-logo img {
  width: 100px;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:30px;
  background-color: blue;
  padding:70px;
  color: white;
  border-radius: 30px;
  flex-wrap: wrap;

}

.hero-image img {
  width: 100%;
  height: 150px;
  margin-left: auto;
  border: solid yellowgreen;
  object-fit: cover;
  padding: 30px;
  border: 30px;
}
.Aboutus {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: purple;
  padding: 30px;
  border-radius: 30px;
  color: white;
  /* flex-wrap: wrap; */
}
.Aboutus-image img{
  width: 100%;
  object-fit: cover;
  margin-left: auto;
  border: solid sienna;
  padding: 20px;
  border: 30px;
}

.Aboutus-text{
  width: 100%;
}

.Aboutus-text h2{
  font-size: 30px;
}

.Aboutus-text p{
  font-size: 30px;
}

.Ourservices {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:30px;
  padding: 30px;
  border-radius: 30px;
  
}

.Ourservices-image img {
  width: 100%;
  display: flex;
  object-fit: cover;
  margin-left: auto ;
  border: solid gold;
  padding: 20px;
  border: 30px;
  flex-wrap: wrap;
}

.Ourservices-text {
  width: 100%;
}



.Ourservices-text h1{
  font-size:40px ;
}

.Ourservices-text p{
  font-size: 30px;
}

.Ourservices-text p{
  font-size: 30px;
}

.Contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color: orange;
  padding: 50px;
  border-radius: 30px;
  color: white;
}

.Contacts-image img{
  width: 100%;
  object-fit: cover;
  margin-left: auto;
  border: salmon;
  padding: 20px;
  border: 30px;
}

.Contacts-text{
  width: 100%;
}

.Contacts-text h1{
  font-size: 40px;
}

.Contacts-text p{
  font-size: 30px;
}

.Contacts-text p{
 font-size: 30px;
 }

 .Contacts-text p{
  font-size: 30px;
 }
 .Ourservices {
  display: flex;
  object-fit: cover;
  align-items: center;
  justify-content: center;
  gap:30px;
  background-color:lawngreen;
  padding: 30px;
  border-radius:30px ;
  color: white;
 }
 .Ourservices-image img{
  width: 100%;
  object-fit: cover;
  margin-left: auto;
  border: saddlebrown;
  padding: 20px;
  border: 30px;
  flex-wrap: wrap;
 }
 .Ourservices-text{
  width: 100%;
 }
 .Ourservices-text h1{
  font-size: 40px;
 }
 .Ourservices-text p{
  font-size: 30;
 }
 .Ourservices-text p{
  font-size: 30px;
 }
 .Ourservices-text p{
  font-size: 30px;
 }
 .Ourservices-text p{
  font-size: 30px;
 }
 .Ourservices-text p{
  font-size: 30px;
 }
 .Ourservices-text p{
  font-size: 30;
 }
 .Ourservices-text p{
  font-size: 30px;
 }
 .Ourservices-text p{
  font-size: 30px;
 }

 .quicklinks {
  display: flex;
  object-fit: cover;
  align-items: center;
  justify-content: center;
  gap:30px;
  padding: 20px;
  border-radius: 30px;
  color: white;
 }

 .quicklinks-image img {
  width: 100%;
  object-fit: cover;
  margin-left: auto;
  border: royalblue;
  padding: 20px;
  border: 30px;
  flex-wrap: wrap;
 }
 .quicklinks-text{
  width: 100%;
 }
 .quicklinks-text h1{
  font-size: 50px;
 }
 .quicklinks-text p{
  font-size: 40px;
 }
 .quicklinks-text p{
  font-size: 40px;
 }
 .quicklinks-text p{
  font-size: 40px;
 }
 .quicklinks-text{
  font-size:40px ;
 }
 @media(
  max-width: 768px){
.hero-image img{
  width: 100%;
  height:auto;
  border-radius:0;
  border: none;

}
.hero h1{
  font-size: 22px;
} 
.nav-links{
  display: none;
}
.nav-logo img {
  width: 80px;
}
.nav-bars{
margin-left: auto;
display: block;
}

} 

@media(min-width:767px){
.nav-bars{
  display: none;
}

}